[data-core-accordion-content] {
  display: none;
}

.rc-accordion-item.active [data-core-accordion-content] {
  display: block;
}
.as-accordion-plusicon::before {
  content: "+";
  font-size: 20px;
  transition: 0.3s;
}

.as-accordion-plusicon.open::before {
  content: "−";
}