.size-wrapper .typography-section-headline {
	font-size: 39px;
}

@media only screen and (max-width: 1068px) {
	.size-wrapper .typography-section-headline {
		font-size: 26px;
	}
}
@media only screen and (max-width: 734px) {
	.size-wrapper .typography-section-headline {
		font-size: 25px;
	}
}
.gallery-item-description .tile-caption {
	color: #86868b;
	font-weight: 600;
}
