.page-overview .overview-intelligent-playback.with-homepod {
	background-image: url(/in/airplay/images/overview/intelligent_playback__byrr5jogd25e_large.jpg);
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
	.page-overview .overview-intelligent-playback.with-homepod {
		background-image: url(/in/airplay/images/overview/intelligent_playback__byrr5jogd25e_large_2x.jpg);
	}
}
@media only screen and (max-width: 1068px) {
	.page-overview .overview-intelligent-playback.with-homepod {
		background-image: url(/in/airplay/images/overview/intelligent_playback__byrr5jogd25e_medium.jpg);
	}
}
@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
	.page-overview .overview-intelligent-playback.with-homepod {
		background-image: url(/in/airplay/images/overview/intelligent_playback__byrr5jogd25e_medium_2x.jpg);
	}
}
@media only screen and (max-width: 734px) {
	.page-overview .overview-intelligent-playback.with-homepod {
		background-image: url(/in/airplay/images/overview/intelligent_playback__byrr5jogd25e_small.jpg);
	}
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
	.page-overview .overview-intelligent-playback.with-homepod {
		background-image: url(/in/airplay/images/overview/intelligent_playback__byrr5jogd25e_small_2x.jpg);
	}
}
