.section-personalize-critics .showcase.personalize .image-gilded-age {
	background-image: url(/in/apple-tv-app/images/overview/personalization_gilded_age__bcgxy2bx8j0i_large.jpg);
}

@media (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
	.section-personalize-critics .showcase.personalize .image-gilded-age {
		background-image: url(/in/apple-tv-app/images/overview/personalization_gilded_age__bcgxy2bx8j0i_large_2x.jpg);
	}
}

@media only screen and (max-width: 1068px) {
	.section-personalize-critics .showcase.personalize .image-gilded-age {
		background-image: url(/in/apple-tv-app/images/overview/personalization_gilded_age__bcgxy2bx8j0i_medium.jpg);
	}
}

@media only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
	.section-personalize-critics .showcase.personalize .image-gilded-age {
		background-image: url(/in/apple-tv-app/images/overview/personalization_gilded_age__bcgxy2bx8j0i_medium_2x.jpg);
	}
}

@media only screen and (max-width: 735px) {
	.section-personalize-critics .showcase.personalize .image-gilded-age {
		background-image: url(/in/apple-tv-app/images/overview/personalization_gilded_age__bcgxy2bx8j0i_small.jpg);
	}
}

@media only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
	.section-personalize-critics .showcase.personalize .image-gilded-age {
		background-image: url(/in/apple-tv-app/images/overview/personalization_gilded_age__bcgxy2bx8j0i_small_2x.jpg);
	}
}

.section-personalize-critics .showcase.personalize .image-nine-perfect-strangers {
	background-image: url(/in/apple-tv-app/images/overview/personalization_nine_perfect_strangers__d059cl3va14y_large.jpg);
}

@media (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
	.section-personalize-critics .showcase.personalize .image-nine-perfect-strangers {
		background-image: url(/in/apple-tv-app/images/overview/personalization_nine_perfect_strangers__d059cl3va14y_large_2x.jpg);
	}
}

@media only screen and (max-width: 1068px) {
	.section-personalize-critics .showcase.personalize .image-nine-perfect-strangers {
		background-image: url(/in/apple-tv-app/images/overview/personalization_nine_perfect_strangers__d059cl3va14y_medium.jpg);
	}
}

@media only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
	.section-personalize-critics .showcase.personalize .image-nine-perfect-strangers {
		background-image: url(/in/apple-tv-app/images/overview/personalization_nine_perfect_strangers__d059cl3va14y_medium_2x.jpg);
	}
}

@media only screen and (max-width: 735px) {
	.section-personalize-critics .showcase.personalize .image-nine-perfect-strangers {
		background-image: url(/in/apple-tv-app/images/overview/personalization_nine_perfect_strangers__d059cl3va14y_small.jpg);
	}
}

@media only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
	.section-personalize-critics .showcase.personalize .image-nine-perfect-strangers {
		background-image: url(/in/apple-tv-app/images/overview/personalization_nine_perfect_strangers__d059cl3va14y_small_2x.jpg);
	}
}

.section-personalize-critics .showcase.personalize .image-friends-neighbors {
	background-image: url(/in/apple-tv-app/images/overview/personalization_friends_neighbors__d66o2qbip82u_large.jpg);
	margin: 0 15px;
}

@media (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
	.section-personalize-critics .showcase.personalize .image-friends-neighbors {
		background-image: url(/in/apple-tv-app/images/overview/personalization_friends_neighbors__d66o2qbip82u_large_2x.jpg);
	}
}

@media only screen and (max-width: 1068px) {
	.section-personalize-critics .showcase.personalize .image-friends-neighbors {
		background-image: url(/in/apple-tv-app/images/overview/personalization_friends_neighbors__d66o2qbip82u_medium.jpg);
	}
}

@media only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
	.section-personalize-critics .showcase.personalize .image-friends-neighbors {
		background-image: url(/in/apple-tv-app/images/overview/personalization_friends_neighbors__d66o2qbip82u_medium_2x.jpg);
	}
}

@media only screen and (max-width: 735px) {
	.section-personalize-critics .showcase.personalize .image-friends-neighbors {
		background-image: url(/in/apple-tv-app/images/overview/personalization_friends_neighbors__d66o2qbip82u_small.jpg);
	}
}

@media only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
	.section-personalize-critics .showcase.personalize .image-friends-neighbors {
		background-image: url(/in/apple-tv-app/images/overview/personalization_friends_neighbors__d66o2qbip82u_small_2x.jpg);
	}
}

.section-personalize-critics .showcase.personalize .image-murderbot {
	background-image: url(/in/apple-tv-app/images/overview/personalization_murderbot__cxe4je83d84m_large.jpg);
}

@media (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
	.section-personalize-critics .showcase.personalize .image-murderbot {
		background-image: url(/in/apple-tv-app/images/overview/personalization_murderbot__cxe4je83d84m_large_2x.jpg);
	}
}

@media only screen and (max-width: 1068px) {
	.section-personalize-critics .showcase.personalize .image-murderbot {
		background-image: url(/in/apple-tv-app/images/overview/personalization_murderbot__cxe4je83d84m_medium.jpg);
	}
}

@media only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
	.section-personalize-critics .showcase.personalize .image-murderbot {
		background-image: url(/in/apple-tv-app/images/overview/personalization_murderbot__cxe4je83d84m_medium_2x.jpg);
	}
}

@media only screen and (max-width: 735px) {
	.section-personalize-critics .showcase.personalize .image-murderbot {
		background-image: url(/in/apple-tv-app/images/overview/personalization_murderbot__cxe4je83d84m_small.jpg);
	}
}

@media only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
	.section-personalize-critics .showcase.personalize .image-murderbot {
		background-image: url(/in/apple-tv-app/images/overview/personalization_murderbot__cxe4je83d84m_small_2x.jpg);
	}
}

.section-personalize-critics .showcase.personalize .image-only-murders {
	background-image: url(/in/apple-tv-app/images/overview/personalization_only_murders__c9op6iczj7sm_large.jpg);
}

@media (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
	.section-personalize-critics .showcase.personalize .image-only-murders {
		background-image: url(/in/apple-tv-app/images/overview/personalization_only_murders__c9op6iczj7sm_large_2x.jpg);
	}
}

@media only screen and (max-width: 1068px) {
	.section-personalize-critics .showcase.personalize .image-only-murders {
		background-image: url(/in/apple-tv-app/images/overview/personalization_only_murders__c9op6iczj7sm_medium.jpg);
	}
}

@media only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
	.section-personalize-critics .showcase.personalize .image-only-murders {
		background-image: url(/in/apple-tv-app/images/overview/personalization_only_murders__c9op6iczj7sm_medium_2x.jpg);
	}
}

@media only screen and (max-width: 735px) {
	.section-personalize-critics .showcase.personalize .image-only-murders {
		background-image: url(/in/apple-tv-app/images/overview/personalization_only_murders__c9op6iczj7sm_small.jpg);
	}
}

@media only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
	.section-personalize-critics .showcase.personalize .image-only-murders {
		background-image: url(/in/apple-tv-app/images/overview/personalization_only_murders__c9op6iczj7sm_small_2x.jpg);
	}
}

.section-personalize-critics .showcase.personalize .image-rick-and-morty {
	background-image: url(/in/apple-tv-app/images/overview/personalization_rick_and_morty__f1x8ymga8wmu_large.jpg);
}

@media (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
	.section-personalize-critics .showcase.personalize .image-rick-and-morty {
		background-image: url(/in/apple-tv-app/images/overview/personalization_rick_and_morty__f1x8ymga8wmu_large_2x.jpg);
	}
}

@media only screen and (max-width: 1068px) {
	.section-personalize-critics .showcase.personalize .image-rick-and-morty {
		background-image: url(/in/apple-tv-app/images/overview/personalization_rick_and_morty__f1x8ymga8wmu_medium.jpg);
	}
}

@media only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
	.section-personalize-critics .showcase.personalize .image-rick-and-morty {
		background-image: url(/in/apple-tv-app/images/overview/personalization_rick_and_morty__f1x8ymga8wmu_medium_2x.jpg);
	}
}

@media only screen and (max-width: 735px) {
	.section-personalize-critics .showcase.personalize .image-rick-and-morty {
		background-image: url(/in/apple-tv-app/images/overview/personalization_rick_and_morty__f1x8ymga8wmu_small.jpg);
	}
}

@media only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
	.section-personalize-critics .showcase.personalize .image-rick-and-morty {
		background-image: url(/in/apple-tv-app/images/overview/personalization_rick_and_morty__f1x8ymga8wmu_small_2x.jpg);
	}
}

.section-critics-choice .showcase.must-see .image-bad-monkey {
	background-image: url(/in/apple-tv-app/images/overview/critics_choice_bad_monkey__enxas24oa1si_large.jpg);
}

@media (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
	.section-critics-choice .showcase.must-see .image-bad-monkey {
		background-image: url(/in/apple-tv-app/images/overview/critics_choice_bad_monkey__enxas24oa1si_large_2x.jpg);
	}
}

@media only screen and (max-width: 1068px) {
	.section-critics-choice .showcase.must-see .image-bad-monkey {
		background-image: url(/in/apple-tv-app/images/overview/critics_choice_bad_monkey__enxas24oa1si_medium.jpg);
	}
}

@media only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
	.section-critics-choice .showcase.must-see .image-bad-monkey {
		background-image: url(/in/apple-tv-app/images/overview/critics_choice_bad_monkey__enxas24oa1si_medium_2x.jpg);
	}
}

@media only screen and (max-width: 735px) {
	.section-critics-choice .showcase.must-see .image-bad-monkey {
		background-image: url(/in/apple-tv-app/images/overview/critics_choice_bad_monkey__enxas24oa1si_small.jpg);
	}
}

@media only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
	.section-critics-choice .showcase.must-see .image-bad-monkey {
		background-image: url(/in/apple-tv-app/images/overview/critics_choice_bad_monkey__enxas24oa1si_small_2x.jpg);
	}
}

.section-critics-choice .showcase.must-see .image-dark-matter {
	background-image: url(/in/apple-tv-app/images/overview/critics_choice_dark_matter__e41v3vwhnaye_large.jpg);
}

@media (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
	.section-critics-choice .showcase.must-see .image-dark-matter {
		background-image: url(/in/apple-tv-app/images/overview/critics_choice_dark_matter__e41v3vwhnaye_large_2x.jpg);
	}
}

@media only screen and (max-width: 1068px) {
	.section-critics-choice .showcase.must-see .image-dark-matter {
		background-image: url(/in/apple-tv-app/images/overview/critics_choice_dark_matter__e41v3vwhnaye_medium.jpg);
	}
}

@media only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
	.section-critics-choice .showcase.must-see .image-dark-matter {
		background-image: url(/in/apple-tv-app/images/overview/critics_choice_dark_matter__e41v3vwhnaye_medium_2x.jpg);
	}
}

@media only screen and (max-width: 735px) {
	.section-critics-choice .showcase.must-see .image-dark-matter {
		background-image: url(/in/apple-tv-app/images/overview/critics_choice_dark_matter__e41v3vwhnaye_small.jpg);
	}
}

@media only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
	.section-critics-choice .showcase.must-see .image-dark-matter {
		background-image: url(/in/apple-tv-app/images/overview/critics_choice_dark_matter__e41v3vwhnaye_small_2x.jpg);
	}
}

.section-critics-choice .showcase.must-see .image-masters {
	background-image: url(/in/apple-tv-app/images/overview/critics_choice_masters__crnewkl1b3ee_large.jpg);
}

@media (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
	.section-critics-choice .showcase.must-see .image-masters {
		background-image: url(/in/apple-tv-app/images/overview/critics_choice_masters__crnewkl1b3ee_large_2x.jpg);
	}
}

@media only screen and (max-width: 1068px) {
	.section-critics-choice .showcase.must-see .image-masters {
		background-image: url(/in/apple-tv-app/images/overview/critics_choice_masters__crnewkl1b3ee_medium.jpg);
	}
}

@media only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
	.section-critics-choice .showcase.must-see .image-masters {
		background-image: url(/in/apple-tv-app/images/overview/critics_choice_masters__crnewkl1b3ee_medium_2x.jpg);
	}
}

@media only screen and (max-width: 735px) {
	.section-critics-choice .showcase.must-see .image-masters {
		background-image: url(/in/apple-tv-app/images/overview/critics_choice_masters__crnewkl1b3ee_small.jpg);
	}
}

@media only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
	.section-critics-choice .showcase.must-see .image-masters {
		background-image: url(/in/apple-tv-app/images/overview/critics_choice_masters__crnewkl1b3ee_small_2x.jpg);
	}
}

.section-critics-choice .showcase.must-see .image-presumed-innocent {
	background-image: url(/in/apple-tv-app/images/overview/critics_choice_presumed_innocent__barud0g745qq_large.jpg);
}

@media (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
	.section-critics-choice .showcase.must-see .image-presumed-innocent {
		background-image: url(/in/apple-tv-app/images/overview/critics_choice_presumed_innocent__barud0g745qq_large_2x.jpg);
	}
}

@media only screen and (max-width: 1068px) {
	.section-critics-choice .showcase.must-see .image-presumed-innocent {
		background-image: url(/in/apple-tv-app/images/overview/critics_choice_presumed_innocent__barud0g745qq_medium.jpg);
	}
}

@media only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
	.section-critics-choice .showcase.must-see .image-presumed-innocent {
		background-image: url(/in/apple-tv-app/images/overview/critics_choice_presumed_innocent__barud0g745qq_medium_2x.jpg);
	}
}

@media only screen and (max-width: 735px) {
	.section-critics-choice .showcase.must-see .image-presumed-innocent {
		background-image: url(/in/apple-tv-app/images/overview/critics_choice_presumed_innocent__barud0g745qq_small.jpg);
	}
}

@media only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
	.section-critics-choice .showcase.must-see .image-presumed-innocent {
		background-image: url(/in/apple-tv-app/images/overview/critics_choice_presumed_innocent__barud0g745qq_small_2x.jpg);
	}
}

.section-critics-choice .showcase.must-see .image-bad-sisters {
	background-image: url(/in/apple-tv-app/images/overview/critics_choice_bad_sisters__cjurjdeilggi_large.jpg);
}

@media (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
	.section-critics-choice .showcase.must-see .image-bad-sisters {
		background-image: url(/in/apple-tv-app/images/overview/critics_choice_bad_sisters__cjurjdeilggi_large_2x.jpg);
	}
}

@media only screen and (max-width: 1068px) {
	.section-critics-choice .showcase.must-see .image-bad-sisters {
		background-image: url(/in/apple-tv-app/images/overview/critics_choice_bad_sisters__cjurjdeilggi_medium.jpg);
	}
}

@media only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
	.section-critics-choice .showcase.must-see .image-bad-sisters {
		background-image: url(/in/apple-tv-app/images/overview/critics_choice_bad_sisters__cjurjdeilggi_medium_2x.jpg);
	}
}

@media only screen and (max-width: 735px) {
	.section-critics-choice .showcase.must-see .image-bad-sisters {
		background-image: url(/in/apple-tv-app/images/overview/critics_choice_bad_sisters__cjurjdeilggi_small.jpg);
	}
}

@media only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
	.section-critics-choice .showcase.must-see .image-bad-sisters {
		background-image: url(/in/apple-tv-app/images/overview/critics_choice_bad_sisters__cjurjdeilggi_small_2x.jpg);
	}
}

.section-critics-choice .showcase.must-see .image-the-studio {
	background-image: url(/in/apple-tv-app/images/overview/critics_choice_the_studio__do44l1hxfdci_large.jpg);
}

@media (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
	.section-critics-choice .showcase.must-see .image-the-studio {
		background-image: url(/in/apple-tv-app/images/overview/critics_choice_the_studio__do44l1hxfdci_large_2x.jpg);
	}
}

@media only screen and (max-width: 1068px) {
	.section-critics-choice .showcase.must-see .image-the-studio {
		background-image: url(/in/apple-tv-app/images/overview/critics_choice_the_studio__do44l1hxfdci_medium.jpg);
	}
}

@media only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
	.section-critics-choice .showcase.must-see .image-the-studio {
		background-image: url(/in/apple-tv-app/images/overview/critics_choice_the_studio__do44l1hxfdci_medium_2x.jpg);
	}
}

@media only screen and (max-width: 735px) {
	.section-critics-choice .showcase.must-see .image-the-studio {
		background-image: url(/in/apple-tv-app/images/overview/critics_choice_the_studio__do44l1hxfdci_small.jpg);
	}
}

@media only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
	.section-critics-choice .showcase.must-see .image-the-studio {
		background-image: url(/in/apple-tv-app/images/overview/critics_choice_the_studio__do44l1hxfdci_small_2x.jpg);
	}
}

.section-hero .sticky-container .hardware .image-tv-hardware .screen-container .image-hero-screen {
	background-image: url(/in/apple-tv-app/images/overview/hero__lgyucsgf7t2m_large.jpg);
}

@media (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
	.section-hero .sticky-container .hardware .image-tv-hardware .screen-container .image-hero-screen {
		background-image: url(/in/apple-tv-app/images/overview/hero__lgyucsgf7t2m_large_2x.jpg);
	}
}

@media only screen and (max-width: 1068px) {
	.section-hero .sticky-container .hardware .image-tv-hardware .screen-container .image-hero-screen {
		background-image: url(/in/apple-tv-app/images/overview/hero__lgyucsgf7t2m_medium.jpg);
	}
}

@media only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
	.section-hero .sticky-container .hardware .image-tv-hardware .screen-container .image-hero-screen {
		background-image: url(/in/apple-tv-app/images/overview/hero__lgyucsgf7t2m_medium_2x.jpg);
	}
}

@media only screen and (max-width: 735px) {
	.section-hero .sticky-container .hardware .image-tv-hardware .screen-container .image-hero-screen {
		background-image: url(/in/apple-tv-app/images/overview/hero__lgyucsgf7t2m_small.png);
	}
}

@media only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
	.section-hero .sticky-container .hardware .image-tv-hardware .screen-container .image-hero-screen {
		background-image: url(/in/apple-tv-app/images/overview/hero__lgyucsgf7t2m_small_2x.png);
	}
}

@media only screen and (max-width: 735px) {
	.section-hero .sticky-container .hardware .image-hero-small {
		background-image: url(/in/apple-tv-app/images/overview/hero__lgyucsgf7t2m_large.jpg);
	}
}

@media only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
	.section-hero .sticky-container .hardware .image-hero-small {
		background-image: url(/in/apple-tv-app/images/overview/hero__lgyucsgf7t2m_large_2x.jpg);
	}
}

@media only screen and (max-width: 735px) and (max-width: 1068px) {
	.section-hero .sticky-container .hardware .image-hero-small {
		background-image: url(/in/apple-tv-app/images/overview/hero__lgyucsgf7t2m_medium.jpg);
	}
}

@media only screen and (max-width: 735px) and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (max-width: 1068px) and (min-resolution: 144dpi) {
	.section-hero .sticky-container .hardware .image-hero-small {
		background-image: url(/in/apple-tv-app/images/overview/hero__lgyucsgf7t2m_medium_2x.jpg);
	}
}

@media only screen and (max-width: 735px) and (max-width: 735px) {
	.section-hero .sticky-container .hardware .image-hero-small {
		background-image: url(/in/apple-tv-app/images/overview/hero__lgyucsgf7t2m_small.png);
	}
}

@media only screen and (max-width: 735px) and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (max-width: 735px) and (min-resolution: 144dpi) {
	.section-hero .sticky-container .hardware .image-hero-small {
		background-image: url(/in/apple-tv-app/images/overview/hero__lgyucsgf7t2m_small_2x.png);
	}
}

.section-chicklets .image-tile-tv-plus {
	background-image: url(/in/apple-tv-app/images/overview/tv_screen_the_studio_1__6u7sb0y2hqq6_large.jpg);
}

@media (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
	.section-chicklets .image-tile-tv-plus {
		background-image: url(/in/apple-tv-app/images/overview/tv_screen_the_studio_1__6u7sb0y2hqq6_large_2x.jpg);
	}
}

@media only screen and (max-width: 1068px) {
	.section-chicklets .image-tile-tv-plus {
		background-image: url(/in/apple-tv-app/images/overview/tv_screen_the_studio_1__6u7sb0y2hqq6_medium.jpg);
	}
}

@media only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
	.section-chicklets .image-tile-tv-plus {
		background-image: url(/in/apple-tv-app/images/overview/tv_screen_the_studio_1__6u7sb0y2hqq6_medium_2x.jpg);
	}
}

@media only screen and (max-width: 735px) {
	.section-chicklets .image-tile-tv-plus {
		background-image: url(/in/apple-tv-app/images/overview/tv_screen_the_studio_1__6u7sb0y2hqq6_small.jpg);
	}
}

@media only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
	.section-chicklets .image-tile-tv-plus {
		background-image: url(/in/apple-tv-app/images/overview/tv_screen_the_studio_1__6u7sb0y2hqq6_small_2x.jpg);
	}
}

.section-chicklets .image-tile-itunes {
	background-image: url(/in/apple-tv-app/images/overview/tv_screen_minecraft__cmdtdi4zk0ya_large.jpg);
}

@media (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
	.section-chicklets .image-tile-itunes {
		background-image: url(/in/apple-tv-app/images/overview/tv_screen_minecraft__cmdtdi4zk0ya_large_2x.jpg);
	}
}

@media only screen and (max-width: 1068px) {
	.section-chicklets .image-tile-itunes {
		background-image: url(/in/apple-tv-app/images/overview/tv_screen_minecraft__cmdtdi4zk0ya_medium.jpg);
	}
}

@media only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
	.section-chicklets .image-tile-itunes {
		background-image: url(/in/apple-tv-app/images/overview/tv_screen_minecraft__cmdtdi4zk0ya_medium_2x.jpg);
	}
}

@media only screen and (max-width: 735px) {
	.section-chicklets .image-tile-itunes {
		background-image: url(/in/apple-tv-app/images/overview/tv_screen_minecraft__cmdtdi4zk0ya_small.jpg);
	}
}

@media only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
	.section-chicklets .image-tile-itunes {
		background-image: url(/in/apple-tv-app/images/overview/tv_screen_minecraft__cmdtdi4zk0ya_small_2x.jpg);
	}
}

.section-easy-find .image-tv-hardware .screen-container .image-easy-find-screen {
	background-image: url(/in/apple-tv-app/images/overview/tv_screen_mission_imposible__bvxq3ixq1i82_large.jpg);
}

@media (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
	.section-easy-find .image-tv-hardware .screen-container .image-easy-find-screen {
		background-image: url(/in/apple-tv-app/images/overview/tv_screen_mission_imposible__bvxq3ixq1i82_large_2x.jpg);
	}
}

.section-router .image-router-airplay {
	background-image: url(/in/apple-tv-app/images/overview/air_play__tjqhrnet7ciq_large.jpg);
}

@media (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
	.section-router .image-router-airplay {
		background-image: url(/in/apple-tv-app/images/overview/air_play__tjqhrnet7ciq_large_2x.jpg);
	}
}

@media only screen and (max-width: 1068px) {
	.section-router .image-router-airplay {
		background-image: url(/in/apple-tv-app/images/overview/air_play__tjqhrnet7ciq_medium.jpg);
	}
}

@media only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
	.section-router .image-router-airplay {
		background-image: url(/in/apple-tv-app/images/overview/air_play__tjqhrnet7ciq_medium_2x.jpg);
	}
}

@media only screen and (max-width: 735px) {
	.section-router .image-router-airplay {
		background-image: url(/in/apple-tv-app/images/overview/air_play__tjqhrnet7ciq_small.jpg);
	}
}

@media only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
	.section-router .image-router-airplay {
		background-image: url(/in/apple-tv-app/images/overview/air_play__tjqhrnet7ciq_small_2x.jpg);
	}
}

.section-chicklets .image-tile-cable {
	background-image: url(/in/apple-tv-app/images/overview/tv_screen_popular_shows__0g5hnxxk2qqi_large.jpg);
}

@media (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
	.section-chicklets .image-tile-cable {
		background-image: url(/in/apple-tv-app/images/overview/tv_screen_popular_shows__0g5hnxxk2qqi_large_2x.jpg);
	}
}

@media only screen and (max-width: 1068px) {
	.section-chicklets .image-tile-cable {
		background-image: url(/in/apple-tv-app/images/overview/tv_screen_popular_shows__0g5hnxxk2qqi_medium.jpg);
	}
}

@media only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
	.section-chicklets .image-tile-cable {
		background-image: url(/in/apple-tv-app/images/overview/tv_screen_popular_shows__0g5hnxxk2qqi_medium_2x.jpg);
	}
}

@media only screen and (max-width: 735px) {
	.section-chicklets .image-tile-cable {
		background-image: url(/in/apple-tv-app/images/overview/tv_screen_popular_shows__0g5hnxxk2qqi_small.jpg);
	}
}

@media only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
	.section-chicklets .image-tile-cable {
		background-image: url(/in/apple-tv-app/images/overview/tv_screen_popular_shows__0g5hnxxk2qqi_small_2x.jpg);
	}
}

.section-personalize-critics .showcase.personalize .image-bear {
	background-image: url(/in/apple-tv-app/images/overview/personalization_bear__b8eekmo9943m_large.jpg);
}

@media (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
	.section-personalize-critics .showcase.personalize .image-bear {
		background-image: url(/in/apple-tv-app/images/overview/personalization_bear__b8eekmo9943m_large_2x.jpg);
	}
}

@media only screen and (max-width: 1068px) {
	.section-personalize-critics .showcase.personalize .image-bear {
		background-image: url(/in/apple-tv-app/images/overview/personalization_bear__b8eekmo9943m_medium.jpg);
	}
}

@media only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
	.section-personalize-critics .showcase.personalize .image-bear {
		background-image: url(/in/apple-tv-app/images/overview/personalization_bear__b8eekmo9943m_medium_2x.jpg);
	}
}

@media only screen and (max-width: 735px) {
	.section-personalize-critics .showcase.personalize .image-bear {
		background-image: url(/in/apple-tv-app/images/overview/personalization_bear__b8eekmo9943m_small.jpg);
	}
}

@media only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
	.section-personalize-critics .showcase.personalize .image-bear {
		background-image: url(/in/apple-tv-app/images/overview/personalization_bear__b8eekmo9943m_small_2x.jpg);
	}
}

.section-personalize-critics .showcase.personalize .image-fountain {
	background-image: url(/in/apple-tv-app/images/overview/personalization_fountain__gcno25tyr5ei_large.jpg);
}

@media (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
	.section-personalize-critics .showcase.personalize .image-fountain {
		background-image: url(/in/apple-tv-app/images/overview/personalization_fountain__gcno25tyr5ei_large_2x.jpg);
	}
}

@media only screen and (max-width: 1068px) {
	.section-personalize-critics .showcase.personalize .image-fountain {
		background-image: url(/in/apple-tv-app/images/overview/personalization_fountain__gcno25tyr5ei_medium.jpg);
	}
}

@media only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
	.section-personalize-critics .showcase.personalize .image-fountain {
		background-image: url(/in/apple-tv-app/images/overview/personalization_fountain__gcno25tyr5ei_medium_2x.jpg);
	}
}

@media only screen and (max-width: 735px) {
	.section-personalize-critics .showcase.personalize .image-fountain {
		background-image: url(/in/apple-tv-app/images/overview/personalization_fountain__gcno25tyr5ei_small.jpg);
	}
}

@media only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
	.section-personalize-critics .showcase.personalize .image-fountain {
		background-image: url(/in/apple-tv-app/images/overview/personalization_fountain__gcno25tyr5ei_small_2x.jpg);
	}
}

.section-personalize-critics .showcase.personalize .image-ted-lasso {
	background-image: url(/in/apple-tv-app/images/overview/personalization_ted_lasso__spte31e1rqqq_large.jpg);
}

@media (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
	.section-personalize-critics .showcase.personalize .image-ted-lasso {
		background-image: url(/in/apple-tv-app/images/overview/personalization_ted_lasso__spte31e1rqqq_large_2x.jpg);
	}
}

@media only screen and (max-width: 1068px) {
	.section-personalize-critics .showcase.personalize .image-ted-lasso {
		background-image: url(/in/apple-tv-app/images/overview/personalization_ted_lasso__spte31e1rqqq_medium.jpg);
	}
}

@media only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
	.section-personalize-critics .showcase.personalize .image-ted-lasso {
		background-image: url(/in/apple-tv-app/images/overview/personalization_ted_lasso__spte31e1rqqq_medium_2x.jpg);
	}
}

@media only screen and (max-width: 735px) {
	.section-personalize-critics .showcase.personalize .image-ted-lasso {
		background-image: url(/in/apple-tv-app/images/overview/personalization_ted_lasso__spte31e1rqqq_small.jpg);
	}
}

@media only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
	.section-personalize-critics .showcase.personalize .image-ted-lasso {
		background-image: url(/in/apple-tv-app/images/overview/personalization_ted_lasso__spte31e1rqqq_small_2x.jpg);
	}
}
