.footnote-supglyph .diamond {
	text-decoration: none;
	font-size: 10px;
	position: relative;
	top: -7px;
	color: #1d1d1f;
	font-weight: bolder;
}
.footnote-supglyph .diamond:hover {
	text-decoration: none;
	color: #0066cc;
}
@media (max-width: 734px) {
	.section-performance .subsection-personas .persona-grid .text-content {
		max-width: 360px;
	}
}
.section-welcome .marquee-header {
	max-width: 40em;
	min-width: 0;
}
.section-welcome .inline-media-component-container {
	transform: translateX(-50%) translateY(32px);
}
@media (max-width: 1068px) {
	.section-welcome .inline-media-component-container {
		transform: translateX(-50%) translateY(22px);
	}
}
/* 
@media (min-width: 920px) {
  .section-welcome.section-welcome-localnav-overlap.section-welcome-globalnav-overlap {
	--welcome-margin-top: calc(
	  var(--r-globalnav-height) * -1 +
	  var(--r-localnav-height) * -1 +
	  52px
	);
  }
}
@media (max-width: 919px) {
  .section-welcome.section-welcome-localnav-overlap.section-welcome-globalnav-overlap {
	--welcome-margin-top: calc(
	  var(--r-globalnav-height) * -1 +
	  var(--r-localnav-height) * -1 +
	  72px
	);
  }
}
 */
