.logo-apple-intelligence-pro {
	background-image: url(/in/apple-events/home/images/overview/announced/logo_apple_intelligence_pro__gcqb3fane2em_large.png);
}

@media (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
	.logo-apple-intelligence-pro {
		background-image: url(/in/apple-events/home/images/overview/announced/logo_apple_intelligence_pro__gcqb3fane2em_large_2x.png);
	}
}

.logo-apple-intelligence {
	background-image: url(/in/apple-events/home/images/overview/announced/logo_apple_intelligence__eftn2mdgobki_large.png);
	width: 276px;
	height: 24px;
	background-size: 276px 24px;
}

@media (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
	.logo-apple-intelligence {
		background-image: url(/in/apple-events/home/images/overview/announced/logo_apple_intelligence__eftn2mdgobki_large_2x.png);
	}
}
@media only screen and (min-width: 735px) {
	.section-announced .announced-item-iphone-16-pro .logo-container {
		left: -26px;
	}
}

@media only screen and (min-width: 1068px) {
	.section-announced .announced-item-iphone-16-pro .logo-container {
		left: -52px;
	}
}

@media only screen and (max-width: 734px) {
	.section-hero .hero-copy-announce {
		max-width: 262px;
	}
}
.footnote a {
	color: inherit;
}

.footnote a:hover {
	color: var(--sk-body-link-color, rgb(0, 102, 204));
}
