.image-compare-watch-series-11-titanium-natural {
	background-image: url(/in/watch/compare/images/overview/compare_watch_series_11_titanium_natural__bz7e5yloh9qq_large.jpg);
}

@media (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
	.image-compare-watch-series-11-titanium-natural {
		background-image: url(/in/watch/compare/images/overview/compare_watch_series_11_titanium_natural__bz7e5yloh9qq_large_2x.jpg);
	}
}

@media only screen and (max-width: 734px) {
	.image-compare-watch-series-11-titanium-natural {
		background-image: url(/in/watch/compare/images/overview/compare_watch_series_11_titanium_natural__bz7e5yloh9qq_small.jpg);
	}
}

@media only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
	.image-compare-watch-series-11-titanium-natural {
		background-image: url(/in/watch/compare/images/overview/compare_watch_series_11_titanium_natural__bz7e5yloh9qq_small_2x.jpg);
	}
}
.image-compare-watch-series-11-titanium-gold {
	background-image: url(/in/watch/compare/images/overview/compare_watch_series_11_titanium_gold__eytpefpwnfsm_large.jpg);
}

@media (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
	.image-compare-watch-series-11-titanium-gold {
		background-image: url(/in/watch/compare/images/overview/compare_watch_series_11_titanium_gold__eytpefpwnfsm_large_2x.jpg);
	}
}

@media only screen and (max-width: 734px) {
	.image-compare-watch-series-11-titanium-gold {
		background-image: url(/in/watch/compare/images/overview/compare_watch_series_11_titanium_gold__eytpefpwnfsm_small.jpg);
	}
}

@media only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
	.image-compare-watch-series-11-titanium-gold {
		background-image: url(/in/watch/compare/images/overview/compare_watch_series_11_titanium_gold__eytpefpwnfsm_small_2x.jpg);
	}
}
.image-compare-watch-series-11-titanium-slate {
	background-image: url(/in/watch/compare/images/overview/compare_watch_series_11_titanium_slate__f2836i54v8yi_large.jpg);
}

@media (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
	.image-compare-watch-series-11-titanium-slate {
		background-image: url(/in/watch/compare/images/overview/compare_watch_series_11_titanium_slate__f2836i54v8yi_large_2x.jpg);
	}
}

@media only screen and (max-width: 734px) {
	.image-compare-watch-series-11-titanium-slate {
		background-image: url(/in/watch/compare/images/overview/compare_watch_series_11_titanium_slate__f2836i54v8yi_small.jpg);
	}
}

@media only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
	.image-compare-watch-series-11-titanium-slate {
		background-image: url(/in/watch/compare/images/overview/compare_watch_series_11_titanium_slate__f2836i54v8yi_small_2x.jpg);
	}
}
.image-compare-watch-ultra-3-titanium-natural {
	background-image: url(/in/watch/compare/images/overview/compare_watch_ultra_3_titanium_natural__f4e1mwataoa6_large.jpg);
}

@media (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
	.image-compare-watch-ultra-3-titanium-natural {
		background-image: url(/in/watch/compare/images/overview/compare_watch_ultra_3_titanium_natural__f4e1mwataoa6_large_2x.jpg);
	}
}

@media only screen and (max-width: 734px) {
	.image-compare-watch-ultra-3-titanium-natural {
		background-image: url(/in/watch/compare/images/overview/compare_watch_ultra_3_titanium_natural__f4e1mwataoa6_small.jpg);
	}
}

@media only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
	.image-compare-watch-ultra-3-titanium-natural {
		background-image: url(/in/watch/compare/images/overview/compare_watch_ultra_3_titanium_natural__f4e1mwataoa6_small_2x.jpg);
	}
}
.image-compare-watch-ultra-3-titanium-black {
	background-image: url(/in/watch/compare/images/overview/compare_watch_ultra_3_titanium_black__et3o71qjhxg2_large.jpg);
}

@media (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
	.image-compare-watch-ultra-3-titanium-black {
		background-image: url(/in/watch/compare/images/overview/compare_watch_ultra_3_titanium_black__et3o71qjhxg2_large_2x.jpg);
	}
}

@media only screen and (max-width: 734px) {
	.image-compare-watch-ultra-3-titanium-black {
		background-image: url(/in/watch/compare/images/overview/compare_watch_ultra_3_titanium_black__et3o71qjhxg2_small.jpg);
	}
}

@media only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
	.image-compare-watch-ultra-3-titanium-black {
		background-image: url(/in/watch/compare/images/overview/compare_watch_ultra_3_titanium_black__et3o71qjhxg2_small_2x.jpg);
	}
}
.image-compare-watch-ultra-2-titanium-black {
	background-image: url(/in/watch/compare/images/overview/compare_watch_ultra_2_titanium_black__dsta75z7pp0m_large.jpg);
}

@media (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
	.image-compare-watch-ultra-2-titanium-black {
		background-image: url(/in/watch/compare/images/overview/compare_watch_ultra_2_titanium_black__dsta75z7pp0m_large_2x.jpg);
	}
}

@media only screen and (max-width: 734px) {
	.image-compare-watch-ultra-2-titanium-black {
		background-image: url(/in/watch/compare/images/overview/compare_watch_ultra_2_titanium_black__dsta75z7pp0m_small.jpg);
	}
}

@media only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
	.image-compare-watch-ultra-2-titanium-black {
		background-image: url(/in/watch/compare/images/overview/compare_watch_ultra_2_titanium_black__dsta75z7pp0m_small_2x.jpg);
	}
}
.image-compare-watch-ultra-2-titanium-natural {
	background-image: url(/in/watch/compare/images/overview/compare_watch_ultra_2_titanium_natural__gi7chzvb6dua_large.jpg);
}

@media (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
	.image-compare-watch-ultra-2-titanium-natural {
		background-image: url(/in/watch/compare/images/overview/compare_watch_ultra_2_titanium_natural__gi7chzvb6dua_large_2x.jpg);
	}
}

@media only screen and (max-width: 734px) {
	.image-compare-watch-ultra-2-titanium-natural {
		background-image: url(/in/watch/compare/images/overview/compare_watch_ultra_2_titanium_natural__gi7chzvb6dua_small.jpg);
	}
}

@media only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
	.image-compare-watch-ultra-2-titanium-natural {
		background-image: url(/in/watch/compare/images/overview/compare_watch_ultra_2_titanium_natural__gi7chzvb6dua_small_2x.jpg);
	}
}
.image-compare-watch-series-9-aluminum-midnight {
	background-image: url(/in/watch/compare/images/overview/compare_watch_series_9_aluminum_midnight__e3y0323cydci_large.jpg);
}

@media (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
	.image-compare-watch-series-9-aluminum-midnight {
		background-image: url(/in/watch/compare/images/overview/compare_watch_series_9_aluminum_midnight__e3y0323cydci_large_2x.jpg);
	}
}

@media only screen and (max-width: 734px) {
	.image-compare-watch-series-9-aluminum-midnight {
		background-image: url(/in/watch/compare/images/overview/compare_watch_series_9_aluminum_midnight__e3y0323cydci_small.jpg);
	}
}

@media only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
	.image-compare-watch-series-9-aluminum-midnight {
		background-image: url(/in/watch/compare/images/overview/compare_watch_series_9_aluminum_midnight__e3y0323cydci_small_2x.jpg);
	}
}
.image-compare-watch-series-8-aluminum-midnight {
	background-image: url(/in/watch/compare/images/overview/compare_watch_series_8_aluminum_midnight__bhifsjzxv9g2_large.jpg);
}

@media (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
	.image-compare-watch-series-8-aluminum-midnight {
		background-image: url(/in/watch/compare/images/overview/compare_watch_series_8_aluminum_midnight__bhifsjzxv9g2_large_2x.jpg);
	}
}

@media only screen and (max-width: 734px) {
	.image-compare-watch-series-8-aluminum-midnight {
		background-image: url(/in/watch/compare/images/overview/compare_watch_series_8_aluminum_midnight__bhifsjzxv9g2_small.jpg);
	}
}

@media only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
	.image-compare-watch-series-8-aluminum-midnight {
		background-image: url(/in/watch/compare/images/overview/compare_watch_series_8_aluminum_midnight__bhifsjzxv9g2_small_2x.jpg);
	}
}
.image-compare-watch-series-6-aluminum-blue {
	background-image: url(/in/watch/compare/images/overview/compare_watch_series_6_aluminum_blue__e67e2v4a2g66_large.jpg);
}

@media (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
	.image-compare-watch-series-6-aluminum-blue {
		background-image: url(/in/watch/compare/images/overview/compare_watch_series_6_aluminum_blue__e67e2v4a2g66_large_2x.jpg);
	}
}

@media only screen and (max-width: 734px) {
	.image-compare-watch-series-6-aluminum-blue {
		background-image: url(/in/watch/compare/images/overview/compare_watch_series_6_aluminum_blue__e67e2v4a2g66_small.jpg);
	}
}

@media only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
	.image-compare-watch-series-6-aluminum-blue {
		background-image: url(/in/watch/compare/images/overview/compare_watch_series_6_aluminum_blue__e67e2v4a2g66_small_2x.jpg);
	}
}
.image-compare-watch-se-gen1-aluminum-brush-gold {
	background-image: url(/in/watch/compare/images/overview/compare_watch_se_gen1_aluminum_brush_gold__efof1ek2u62q_large.jpg);
}

@media (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
	.image-compare-watch-se-gen1-aluminum-brush-gold {
		background-image: url(/in/watch/compare/images/overview/compare_watch_se_gen1_aluminum_brush_gold__efof1ek2u62q_large_2x.jpg);
	}
}

@media only screen and (max-width: 734px) {
	.image-compare-watch-se-gen1-aluminum-brush-gold {
		background-image: url(/in/watch/compare/images/overview/compare_watch_se_gen1_aluminum_brush_gold__efof1ek2u62q_small.jpg);
	}
}

@media only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
	.image-compare-watch-se-gen1-aluminum-brush-gold {
		background-image: url(/in/watch/compare/images/overview/compare_watch_se_gen1_aluminum_brush_gold__efof1ek2u62q_small_2x.jpg);
	}
}
.image-compare-watch-series-4-stainless-gold {
	background-image: url(/in/watch/compare/images/overview/compare_watch_series_4_stainless_gold__bjdnsnpzjuhe_large.jpg);
}

@media (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
	.image-compare-watch-series-4-stainless-gold {
		background-image: url(/in/watch/compare/images/overview/compare_watch_series_4_stainless_gold__bjdnsnpzjuhe_large_2x.jpg);
	}
}

@media only screen and (max-width: 734px) {
	.image-compare-watch-series-4-stainless-gold {
		background-image: url(/in/watch/compare/images/overview/compare_watch_series_4_stainless_gold__bjdnsnpzjuhe_small.jpg);
	}
}

@media only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
	.image-compare-watch-series-4-stainless-gold {
		background-image: url(/in/watch/compare/images/overview/compare_watch_series_4_stainless_gold__bjdnsnpzjuhe_small_2x.jpg);
	}
}
.image-compare-watch-series-3-aluminum-space-gray {
	background-image: url(/in/watch/compare/images/overview/compare_watch_series_3_aluminum_space_gray__ghm9362e66aa_large.jpg);
}

@media (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
	.image-compare-watch-series-3-aluminum-space-gray {
		background-image: url(/in/watch/compare/images/overview/compare_watch_series_3_aluminum_space_gray__ghm9362e66aa_large_2x.jpg);
	}
}

@media only screen and (max-width: 734px) {
	.image-compare-watch-series-3-aluminum-space-gray {
		background-image: url(/in/watch/compare/images/overview/compare_watch_series_3_aluminum_space_gray__ghm9362e66aa_small.jpg);
	}
}

@media only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
	.image-compare-watch-series-3-aluminum-space-gray {
		background-image: url(/in/watch/compare/images/overview/compare_watch_series_3_aluminum_space_gray__ghm9362e66aa_small_2x.jpg);
	}
}
.image-compare-watch-series-1-aluminum-rose-gold {
	background-image: url(/in/watch/compare/images/overview/compare_watch_series_1_aluminum_rose_gold__b18mbtef41rm_large.jpg);
}

@media (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
	.image-compare-watch-series-1-aluminum-rose-gold {
		background-image: url(/in/watch/compare/images/overview/compare_watch_series_1_aluminum_rose_gold__b18mbtef41rm_large_2x.jpg);
	}
}

@media only screen and (max-width: 734px) {
	.image-compare-watch-series-1-aluminum-rose-gold {
		background-image: url(/in/watch/compare/images/overview/compare_watch_series_1_aluminum_rose_gold__b18mbtef41rm_small.jpg);
	}
}

@media only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
	.image-compare-watch-series-1-aluminum-rose-gold {
		background-image: url(/in/watch/compare/images/overview/compare_watch_series_1_aluminum_rose_gold__b18mbtef41rm_small_2x.jpg);
	}
}
.image-compare-watch-ultra-titanium-natural {
	background-image: url(/in/watch/compare/images/overview/compare_watch_ultra_titanium_natural__0jxdmqykxn66_large.jpg);
}

@media (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
	.image-compare-watch-ultra-titanium-natural {
		background-image: url(/in/watch/compare/images/overview/compare_watch_ultra_titanium_natural__0jxdmqykxn66_large_2x.jpg);
	}
}

@media only screen and (max-width: 734px) {
	.image-compare-watch-ultra-titanium-natural {
		background-image: url(/in/watch/compare/images/overview/compare_watch_ultra_titanium_natural__0jxdmqykxn66_small.jpg);
	}
}

@media only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
	.image-compare-watch-ultra-titanium-natural {
		background-image: url(/in/watch/compare/images/overview/compare_watch_ultra_titanium_natural__0jxdmqykxn66_small_2x.jpg);
	}
}
.image-all-models-watch-ultra-3 {
	background-image: url(/in/watch/compare/images/overview/all_models_watch_ultra_3__qc7kwjt8c7ee_large.jpg);
}

@media (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
	.image-all-models-watch-ultra-3 {
		background-image: url(/in/watch/compare/images/overview/all_models_watch_ultra_3__qc7kwjt8c7ee_large_2x.jpg);
	}
}

@media only screen and (max-width: 734px) {
	.image-all-models-watch-ultra-3 {
		background-image: url(/in/watch/compare/images/overview/all_models_watch_ultra_3__qc7kwjt8c7ee_small.jpg);
	}
}

@media only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
	.image-all-models-watch-ultra-3 {
		background-image: url(/in/watch/compare/images/overview/all_models_watch_ultra_3__qc7kwjt8c7ee_small_2x.jpg);
	}
}
.image-all-models-watch-ultra-2 {
	background-image: url(/in/watch/compare/images/overview/all_models_watch_ultra_2__two5m8hr0yym_large.jpg);
}

@media (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
	.image-all-models-watch-ultra-2 {
		background-image: url(/in/watch/compare/images/overview/all_models_watch_ultra_2__two5m8hr0yym_large_2x.jpg);
	}
}

@media only screen and (max-width: 734px) {
	.image-all-models-watch-ultra-2 {
		background-image: url(/in/watch/compare/images/overview/all_models_watch_ultra_2__two5m8hr0yym_small.jpg);
	}
}

@media only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
	.image-all-models-watch-ultra-2 {
		background-image: url(/in/watch/compare/images/overview/all_models_watch_ultra_2__two5m8hr0yym_small_2x.jpg);
	}
}
.image-all-models-watch-series-9 {
	background-image: url(/in/watch/compare/images/overview/all_models_watch_series_9__h09h75uo43ma_large.jpg);
}

@media (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
	.image-all-models-watch-series-9 {
		background-image: url(/in/watch/compare/images/overview/all_models_watch_series_9__h09h75uo43ma_large_2x.jpg);
	}
}

@media only screen and (max-width: 734px) {
	.image-all-models-watch-series-9 {
		background-image: url(/in/watch/compare/images/overview/all_models_watch_series_9__h09h75uo43ma_small.jpg);
	}
}

@media only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
	.image-all-models-watch-series-9 {
		background-image: url(/in/watch/compare/images/overview/all_models_watch_series_9__h09h75uo43ma_small_2x.jpg);
	}
}
.image-all-models-watch-ultra {
	background-image: url(/in/watch/compare/images/overview/all_models_watch_ultra__e5hyhii50n8m_large.jpg);
}

@media (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
	.image-all-models-watch-ultra {
		background-image: url(/in/watch/compare/images/overview/all_models_watch_ultra__e5hyhii50n8m_large_2x.jpg);
	}
}

@media only screen and (max-width: 734px) {
	.image-all-models-watch-ultra {
		background-image: url(/in/watch/compare/images/overview/all_models_watch_ultra__e5hyhii50n8m_small.jpg);
	}
}

@media only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
	.image-all-models-watch-ultra {
		background-image: url(/in/watch/compare/images/overview/all_models_watch_ultra__e5hyhii50n8m_small_2x.jpg);
	}
}
.image-all-models-watch-series-8 {
	background-image: url(/in/watch/compare/images/overview/all_models_watch_series_8__bqplwqv8ogeq_large.jpg);
}

@media (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
	.image-all-models-watch-series-8 {
		background-image: url(/in/watch/compare/images/overview/all_models_watch_series_8__bqplwqv8ogeq_large_2x.jpg);
	}
}

@media only screen and (max-width: 734px) {
	.image-all-models-watch-series-8 {
		background-image: url(/in/watch/compare/images/overview/all_models_watch_series_8__bqplwqv8ogeq_small.jpg);
	}
}

@media only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
	.image-all-models-watch-series-8 {
		background-image: url(/in/watch/compare/images/overview/all_models_watch_series_8__bqplwqv8ogeq_small_2x.jpg);
	}
}
.image-all-models-watch-series-6 {
	background-image: url(/in/watch/compare/images/overview/all_models_watch_series_6__chdkw2jyf39e_large.jpg);
}

@media (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
	.image-all-models-watch-series-6 {
		background-image: url(/in/watch/compare/images/overview/all_models_watch_series_6__chdkw2jyf39e_large_2x.jpg);
	}
}

@media only screen and (max-width: 734px) {
	.image-all-models-watch-series-6 {
		background-image: url(/in/watch/compare/images/overview/all_models_watch_series_6__chdkw2jyf39e_small.jpg);
	}
}

@media only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
	.image-all-models-watch-series-6 {
		background-image: url(/in/watch/compare/images/overview/all_models_watch_series_6__chdkw2jyf39e_small_2x.jpg);
	}
}
.image-all-models-watch-se-gen1 {
	background-image: url(/in/watch/compare/images/overview/all_models_watch_se_gen1__dra1u8sb9mye_large.jpg);
}

@media (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
	.image-all-models-watch-se-gen1 {
		background-image: url(/in/watch/compare/images/overview/all_models_watch_se_gen1__dra1u8sb9mye_large_2x.jpg);
	}
}

@media only screen and (max-width: 734px) {
	.image-all-models-watch-se-gen1 {
		background-image: url(/in/watch/compare/images/overview/all_models_watch_se_gen1__dra1u8sb9mye_small.jpg);
	}
}

@media only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
	.image-all-models-watch-se-gen1 {
		background-image: url(/in/watch/compare/images/overview/all_models_watch_se_gen1__dra1u8sb9mye_small_2x.jpg);
	}
}
.image-all-models-watch-series-4 {
	background-image: url(/in/watch/compare/images/overview/all_models_watch_series_4__dffspmy2ptiu_large.jpg);
}

@media (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
	.image-all-models-watch-series-4 {
		background-image: url(/in/watch/compare/images/overview/all_models_watch_series_4__dffspmy2ptiu_large_2x.jpg);
	}
}

@media only screen and (max-width: 734px) {
	.image-all-models-watch-series-4 {
		background-image: url(/in/watch/compare/images/overview/all_models_watch_series_4__dffspmy2ptiu_small.jpg);
	}
}

@media only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
	.image-all-models-watch-series-4 {
		background-image: url(/in/watch/compare/images/overview/all_models_watch_series_4__dffspmy2ptiu_small_2x.jpg);
	}
}
.image-all-models-watch-series-1 {
	background-image: url(/in/watch/compare/images/overview/all_models_watch_series_1__fsu4j6r04uem_large.jpg);
}

@media (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
	.image-all-models-watch-series-1 {
		background-image: url(/in/watch/compare/images/overview/all_models_watch_series_1__fsu4j6r04uem_large_2x.jpg);
	}
}

@media only screen and (max-width: 734px) {
	.image-all-models-watch-series-1 {
		background-image: url(/in/watch/compare/images/overview/all_models_watch_series_1__fsu4j6r04uem_small.jpg);
	}
}

@media only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
	.image-all-models-watch-series-1 {
		background-image: url(/in/watch/compare/images/overview/all_models_watch_series_1__fsu4j6r04uem_small_2x.jpg);
	}
}
.image-all-models-watch-series-3 {
	background-image: url(/in/watch/compare/images/overview/all_models_watch_series_3__ba6tzzwab3iq_large.jpg);
}

@media (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
	.image-all-models-watch-series-3 {
		background-image: url(/in/watch/compare/images/overview/all_models_watch_series_3__ba6tzzwab3iq_large_2x.jpg);
	}
}

@media only screen and (max-width: 734px) {
	.image-all-models-watch-series-3 {
		background-image: url(/in/watch/compare/images/overview/all_models_watch_series_3__ba6tzzwab3iq_small.jpg);
	}
}

@media only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
	.image-all-models-watch-series-3 {
		background-image: url(/in/watch/compare/images/overview/all_models_watch_series_3__ba6tzzwab3iq_small_2x.jpg);
	}
}
